/* index */


.serviciosIndex {
    display: grid;
    grid-template-rows: auto;
    text-align: center;
    padding: 40px;
    article{
        display: flex; 
        align-items: center;
        background-position: center;
        background-size: cover;
        border-radius: 15px;
        background-color:rgba(0, 0, 0, 0.1);
        a {
            text-decoration: none;
            color: $colorPrimario;
            font-size: 20px;
            padding: 0px;
            border-radius: 15px;
            &:hover{
                transition: 1s;
                box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.2);
                background-image:  url(../imagenes/bgnav.jpg);
                background-size: cover;
                transform: scale(1.1, 1.1);
            }
            div{
                width: 70%;
                margin: 0px auto;
                img{
                padding: 10px;
                opacity: 70%;
                }
            } 
            p{
                font-size: 14px;
                padding: 10px;
            }
            h4{
                color: $colorPrimario;
                font-weight: bold;
                padding: 15px;
            }
        }
    }    
}

.containerEst{
        height: auto;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-image: url(../imagenes/bgnav.jpg);
        .estudioIndex{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
        padding: 40px;
        .txtEstudioIndex{
            background-color: rgba(250, 250, 250, 0.5);
            height:fit-content;
            padding: 10px;
            }
        }

    }


.proyectosIndex {
    width: 75%;
    margin: 0px auto;
    padding: 20px;
    
    article div{
        padding: 10px;
        &:hover{
            transition: 1s;
            transform: scale(0.9, 0.9);
        }
    }
}

//media
@media only screen and (min-width: 320px){
    .estudioIndex {
        width: 100%;
        flex-direction: column;
    }
    .serviciosIndex {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        article{
            width: 90%;
            justify-self: center;
            a img{
                width: 50%;
                height: auto;
            }
        }
    }
}

@media only screen and (min-width:768px) {
    .estudioIndex{
        flex-direction: column;
    }
    .serviciosIndex{
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 15px;
        margin: 15px;
        article a img{
            width: 75%;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .serviciosIndex{
        grid-template-columns: repeat(4, 1fr);
        width: 75%;
        margin: auto;
    }
    .estudioIndex {
        margin-top: 50px;
        width: 75%;
        flex-direction: row;
    }
    .containerEst{
        clip-path:polygon(25% 0%, 100% 5%, 100% 95%, 75% 100%, 0% 95%, 0% 5%);
    }
    
}
