* {
  margin: 0;
  padding: 0; }

h1 {
  text-align: center;
  letter-spacing: 5px;
  padding: 15px;
  font-weight: bold;
  margin: 8px; }

h2 {
  font-size: 30px;
  padding: 15px;
  margin-bottom: 10px;
  text-align: center; }

figure {
  margin: 0px; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

.logo {
  display: flex;
  align-content: center;
  align-items: center;
  height: 8vh;
  margin: auto; }

.textobg {
  display: flex;
  justify-content: center;
  font-size: 3.2em;
  color: transparent;
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.6);
  text-shadow: -2px 2px rgba(0, 0, 0, 0.3);
  padding: 15px; }

header {
  width: 100%;
  height: 12vh;
  align-content: center; }

.navbar {
  display: flex;
  background-image: url(../imagenes/bgnav.jpg);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  padding: 0px;
  height: 12vh;
  border-bottom: 5px solid #414040;
  justify-content: space-evenly; }
  .navbar div {
    width: 80%;
    margin: auto; }

.navbar-nav {
  justify-content: space-evenly;
  width: 50%; }
  .navbar-nav li a {
    text-decoration: none;
    color: black;
    font-size: 16px; }
    .navbar-nav li a:hover {
      color: #595f6d;
      border-bottom-style: solid;
      border-bottom-width: thick;
      border-color: #414040;
      padding-bottom: 6px; }

.navbar-brand {
  width: auto; }

body {
  font-family: Verdana, sans-serif;
  color: #414040;
  background-color: #eff4f7;
  font-style: normal;
  font-size: 16px; }

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 5px solid #414040;
  background-image: linear-gradient(rgba(200, 200, 200, 0.5), rgba(0, 0, 0, 0.3)); }
  footer div {
    margin: 10px 10px; }

.iconos {
  width: 10%; }
  .iconos ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding-left: 0px;
    margin-bottom: 0px; }
    .iconos ul li {
      font-size: 2em; }

@media only screen and (min-width: 320px) {
  .navbar-nav {
    align-items: flex-end;
    width: 100%; }

  .menu {
    background-color: #838fa0;
    opacity: 0.9;
    padding: 10px; }

  footer {
    display: flex;
    flex-direction: column-reverse;
    font-size: 14px; }

  .iconos {
    width: 40%; } }
@media only screen and (min-width: 768px) {
  .menu {
    background-color: initial; }

  .navbar-nav {
    align-items: center;
    width: 90%; }

  footer {
    display: flex;
    flex-direction: row;
    font-size: 16px; }

  .iconos {
    width: 20%; } }
@media only screen and (min-width: 1024px) {
  .navbar-nav {
    align-items: center;
    width: 50%; } }
/* index */
.estudioIndex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 20px; }

.txtEstudioIndex {
  background-color: rgba(250, 250, 250, 0.5);
  height: fit-content;
  padding: 10px; }

.conteinerServ {
  height: auto;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url(../imagenes/bgnav.jpg); }

.serviciosIndex {
  display: grid;
  grid-template-rows: auto;
  text-align: center; }
  .serviciosIndex article {
    display: flex;
    align-items: center;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.1); }
    .serviciosIndex article a {
      text-decoration: none;
      color: #595f6d;
      font-size: 20px;
      padding-bottom: 5px;
      border-radius: 15px; }
      .serviciosIndex article a:hover {
        transition: 1s;
        box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.2);
        background-image: url(../imagenes/bgnav.jpg);
        background-size: cover;
        transform: scale(1.05, 1.05); }
      .serviciosIndex article a img {
        padding: 40px;
        opacity: 70%; }
      .serviciosIndex article a p {
        font-size: 14px;
        padding: 10px; }
      .serviciosIndex article a h4 {
        color: #595f6d;
        font-weight: bold; }

.text-center {
  padding: 20px;
  text-shadow: 0 0 0.3em #414040; }

.proyectosIndex {
  width: 75%;
  margin: 40px auto; }
  .proyectosIndex article div {
    padding: 10px; }
    .proyectosIndex article div:hover {
      transition: 1s;
      transform: scale(0.9, 0.9); }

@media only screen and (min-width: 320px) {
  .estudioIndex {
    width: 100%;
    flex-direction: column; }

  .serviciosIndex {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px; }
    .serviciosIndex article {
      width: 90%;
      justify-self: center; }
      .serviciosIndex article a img {
        width: 50%;
        height: auto; } }
@media only screen and (min-width: 768px) {
  .estudioIndex {
    flex-direction: column; }

  .serviciosIndex {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 15px;
    margin: 15px; }
    .serviciosIndex article a img {
      width: 75%; } }
@media only screen and (min-width: 1024px) {
  .estudioIndex {
    margin-top: 50px;
    width: 75%;
    flex-direction: row; }

  .conteinerServ {
    clip-path: polygon(10% 0%, 100% 0%, 100% 50%, 90% 100%, 0% 100%, 0% 50%); }

  .serviciosIndex {
    grid-template-columns: repeat(4, 1fr);
    width: 75%;
    margin: auto; } }
.bgportada {
  background-image: url("../imagenes/estudio2.jpg");
  display: flex;
  background-size: cover;
  align-items: center;
  justify-content: center; }

.container {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  padding: 50px 10px;
  align-items: center; }
  .container .estudioTexto {
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    z-index: 2;
    color: #eff4f7;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3); }
  .container .carouselEstudio {
    width: auto; }

.equipo {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: 70vh;
  justify-content: center;
  align-content: center;
  padding: 30px; }
  .equipo div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px; }
    .equipo div img {
      border-radius: 50%;
      border-style: solid;
      border-color: #5c6674;
      border-width: 5px; }

.equipoTitulo {
  font-size: 3.5em;
  color: transparent;
  -webkit-text-stroke: 3px rgba(0, 0, 0, 0.6); }

/* media queris*/
@media only screen and (min-width: 320px) {
  .bgportada {
    height: auto; }

  .container {
    flex-direction: column;
    justify-content: flex-start; }
    .container .estudioTexto {
      width: 95%;
      padding: 5px;
      left: 0px;
      height: auto; }

  .equipo {
    display: flex;
    flex-direction: column; } }
@media only screen and (min-width: 768px) {
  .bgportada {
    height: 30vh; }

  .container {
    flex-direction: row;
    justify-content: center; } }
@media only screen and (min-width: 1024px) {
  .container {
    flex-direction: row;
    width: 80%;
    justify-content: center; }
    .container .estudioTexto {
      width: 50%;
      padding: 50px;
      left: 50px;
      height: fit-content; }

  .carouselEstudio {
    width: auto; }

  .equipo {
    display: grid; } }
.galeria {
  display: grid;
  grid-template-areas: "imagen1 imagen1 imagen4" "imagen1 imagen1 imagen4" "imagen1 imagen1 imagen5" "imagen2 imagen3 imagen5" "imagen2 imagen3 imagen6" "imagen2 imagen3 imagen6";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: auto;
  margin: auto;
  padding: 20px 0px;
  grid-column-gap: 5px;
  grid-row-gap: 5px; }
  .galeria article a:hover {
    opacity: 80%; }

.imagen1 {
  grid-area: imagen1; }

.imagen2 {
  grid-area: imagen2; }

.imagen3 {
  grid-area: imagen3; }

.imagen4 {
  grid-area: imagen4; }

.imagen5 {
  grid-area: imagen5; }

.imagen6 {
  grid-area: imagen6; }

/*media */
@media only screen and (min-width: 320px) {
  .galeria {
    display: flex;
    flex-direction: column;
    width: 90%; } }
@media only screen and (min-width: 768px) {
  .galeria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .galeria article {
      width: 45%; } }
@media only screen and (min-width: 1024px) {
  .galeria {
    display: grid;
    width: 80%;
    margin: auto; }
    .galeria article {
      width: 100%; } }
.bgportada2 {
  background-image: url("../imagenes/servicios.jpg");
  display: flex;
  background-size: cover;
  align-items: center;
  justify-content: center; }

.listaServicios {
  width: 80%;
  justify-content: center;
  margin-right: auto;
  margin-left: auto; }
  .listaServicios article {
    display: flex;
    flex-direction: row;
    margin: 30px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3); }
    .listaServicios article:nth-child(odd):hover {
      opacity: 95%;
      background-image: linear-gradient(to right, #8693a3, #F2F3EE, #637286); }
    .listaServicios article:nth-child(even):hover {
      opacity: 95%;
      background-image: linear-gradient(to left, #8693a3, #F2F3EE, #637286); }
    .listaServicios article div {
      display: flex;
      flex-direction: column;
      width: 50%;
      align-items: center;
      justify-content: center;
      line-height: 25px; }
      .listaServicios article div p {
        padding: 20px;
        text-align: center; }
  .listaServicios figure {
    width: 50%; }

/*media */
@media only screen and (min-width: 320px) {
  .bgportada2 {
    height: auto; }

  .listaServicios {
    width: 95%;
    margin: 10px; }
    .listaServicios article {
      flex-direction: column;
      width: 95%;
      margin: auto; }
      .listaServicios article div {
        width: 100%; }
      .listaServicios article figure {
        width: 100%; }
        .listaServicios article figure:nth-child(2) {
          order: -1; } }
@media only screen and (min-width: 768px) {
  .bgportada2 {
    height: 30vh; }

  .listaServicios {
    width: 90%;
    margin: auto; }

  .listaServicios article {
    flex-direction: column;
    margin: 10px; } }
@media only screen and (min-width: 1024px) {
  .listaServicios {
    width: 80%; }

  .listaServicios article {
    flex-direction: row;
    margin: 30px; }

  .listaServicios article figure:nth-child(2) {
    order: 0; } }
.background {
  background-image: url("../imagenes/contaco.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(200, 200, 200, 0.2), rgba(0, 0, 0, 0.2)), url(../imagenes/contacto.jpg); }

.contacto {
  display: flex;
  flex-direction: column; }
  .contacto article p {
    line-height: 30px; }
  .contacto .formulario {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    background-color: rgba(250, 250, 250, 0.8);
    border-radius: 15px; }

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

input, select, textarea {
  padding: 10px;
  margin: 10px 0px;
  border-radius: 5px;
  border: none;
  width: 100%;
  outline: none;
  border-bottom: 2px solid #c1d2fc;
  font-size: 16px; }

form div:nth-child(3) input {
  width: 45%; }

form div:nth-child(2) input {
  width: 10%; }

form div:nth-child(2) {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: start; }

form div:nth-child(3) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; }

.ubicacion {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%; }
  .ubicacion div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgba(250, 250, 250, 0.8);
    height: auto;
    align-items: flex-end;
    margin-top: 25px;
    padding-top: 10px; }
    .ubicacion div ul {
      justify-content: space-evenly;
      margin-top: 25px;
      list-style: none;
      width: 100%; }
      .ubicacion div ul li {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .ubicacion div ul li i {
          font-size: 2em; }
        .ubicacion div ul li p {
          line-height: 30px; }
  .ubicacion iframe {
    width: 100%;
    height: 50vh;
    padding: 0px; }

/*media */
@media only screen and (min-width: 320px) {
  .ubicacion div ul {
    display: flex;
    flex-direction: column; }
    .ubicacion div ul li p {
      margin-bottom: 0px; }

  .formulario {
    width: 90%; }
    .formulario form {
      width: 85%;
      margin: 0px; } }
@media only screen and (min-width: 768px) {
  .ubicacion div ul {
    flex-direction: row; }
    .ubicacion div ul li p {
      margin-bottom: 1rem; }

  .formulario {
    width: 80%; }
    .formulario form {
      width: 75%; } }
@media only screen and (min-width: 1024px) {
  .formulario {
    width: 70%; }
    .formulario form {
      width: 70%; } }

/*# sourceMappingURL=estilos.css.map */
